html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 15px;
  background-color: #f3f1ed;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

* {
  font-family: monospace;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

:root {
  --sunday-color: #405955be;
  --monday-color: #518a7b;
  --tuesday-color: #c3d7d2;
  --wednesday-color: #d59066;
  --thursday-color: #f2d1c2;
  --friday-color: #d1bfad;
  --saturday-color: rgb(252, 252, 252);
}

#title {
  width: 90%;
}

#weather-container > div {
  margin: 1rem;
}

#weather-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 100%;
}

@media screen and (min-width: 750px) {
  #weather-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.weather-card .Sunday {
  background-color: var(--sunday-color);
  color: #f3f1ed;
}

.weather-card .Monday {
  background-color: var(--monday-color);
}

.weather-card .Tuesday {
  background-color: var(--tuesday-color);
}

.weather-card .Wednesday {
  background-color: var(--wednesday-color);
}

.weather-card .Thursday {
  background-color: var(--thursday-color);
}

.weather-card .Friday {
  background-color: var(--friday-color);
}

.weather-card .Saturday {
  background-color: var(--saturday-color);
}

.weather-card .main-info {
  border-radius: 10px;
  width: 50%;
  max-width: 350px;
  margin: 10px;
  margin-right: 10px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  -webkit-filter: brightness(1.05);
          filter: brightness(1.05);
}

@media screen and (min-width: 750px) {
  .weather-card .main-info {
    min-width: 320px;
  }
}

.weather-card :hover.main-info {
  background-color: #d4af37;
  background: -webkit-gradient(linear, left top, right top, from(#fcf6ba), color-stop(#bf953f), color-stop(#b38728), to(#aa771c));
  background: linear-gradient(to right, #fcf6ba, #bf953f, #b38728, #aa771c);
}

.additional-info {
  border-radius: 10px;
  width: 80%;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5rem;
  background-color: none;
}

.additional-info .text-container {
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  -webkit-filter: brightness(0.95);
          filter: brightness(0.95);
  padding: 10px;
}

.additional-info .sunlightInformation {
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.additional-info .sunlightInformation .sunrise,
.additional-info .sunlightInformation .sunset {
  background-color: rgba(252, 252, 252, 0.452);
  padding: 10px;
  margin: 0;
  border-radius: 10px;
  width: 49%;
}

.additional-info .sunlightInformation .sunrise img,
.additional-info .sunlightInformation .sunset img {
  max-width: 70px;
}

.additional-info .sunlightInformation .Sunday {
  background-color: var(--sunday-color);
  color: #f3f1ed;
}

.additional-info .sunlightInformation .Monday {
  background-color: var(--monday-color);
}

.additional-info .sunlightInformation .Tuesday {
  background-color: var(--tuesday-color);
}

.additional-info .sunlightInformation .Wednesday {
  background-color: var(--wednesday-color);
}

.additional-info .sunlightInformation .Thursday {
  background-color: var(--thursday-color);
}

.additional-info .sunlightInformation .Friday {
  background-color: var(--friday-color);
}

.additional-info .sunlightInformation .Saturday {
  background-color: var(--saturday-color);
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.3rem;
}
/*# sourceMappingURL=styles.css.map */